@import '../style.css';
@import './mobileContactForm.css';

:root {
	--margin_bottom: 150px;
	font-weight: 200;
}

main {
	width: 96%;
	display: block;
}

header {
	font-size: 1.5rem;
	padding: 1rem;
}

/* The text blocks with dark background */
section {
	padding: 1rem;
}

blockquote p {
	font-size: 3rem;
	line-height: 1;
}
