---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found - NikkelM" description="Page Not Found - NikkelM" stylesheets={["/css/commonTextPages.css"]}>
	<body>
		<header>
			<h1>404 - Page Not Found</h1>
			<p>This page does not exist.</p>
		</header>
		<br />
		<br />
		<section class="center">
			<p>If you think that this should not have happened, please reach out to me via the <a class="contactLink pointer show">contact form</a>.</p>
			<br />
			<p><a href="/index.html" class="pointer">Go back Home</a></p>
		</section>

		<script type="module" src="/src/js/commonTextPages.js"></script>
	</body>
</Layout>
