---
import Layout from "../layouts/Layout.astro";
import SocialLinkImage from "../components/SocialLinkImage.astro";
import "/src/styles/commonTextPages.css";
---

<Layout title="NikkelM - Home" description="Personal website of NikkelM">
	<link rel="canonical" href="https://nikkelm.dev" slot="customHead" />

	<body>
		<header>
			<h1>Nikkel Mollenhauer</h1>
			<p>Site Reliability Engineer @Microsoft Dublin</p>
			<p>
				<a href="https://github.com/NikkelM/resume/releases/latest/download/mollenhauer_resume.pdf" target="_blank"><span class="material-icons-outlined f48">file_download</span></a>
				<a href="https://github.com/NikkelM/resume/releases/latest/download/mollenhauer_resume.pdf" target="_blank" class="hideAlways" aria-label="Download CV"> </a>
				<a href="https://github.com/NikkelM/resume/releases/latest/download/mollenhauer_resume.pdf" target="_blank" class="hideAlways">CV</a>
				<span style="vertical-align: 5px">|&nbsp;</span><SocialLinkImage
					href="https://github.com/NikkelM"
					label="GitHub profile"
					imgSrc="/icons/github.webp"
					style="vertical-align: -5px;"
				/>
				<span style="vertical-align: 5px">|&nbsp;</span><SocialLinkImage
					href="https://www.linkedin.com/in/nikkel-mollenhauer/"
					label="LinkedIn profile"
					imgSrc="/icons/linkedin.webp"
					style="vertical-align: -5px;"
				/>
				<span style="vertical-align: 5px">|&nbsp;</span><a class="contactLink hideAlways pointer">Contact</a>
			</p>
		</header>

		<br />
		<section>
			<h2>About me</h2>
			<p>
				Hi, I'm Nikkel, a software engineer that's always open to new challenges. Besides my role as Site Reliability Engineer at Microsoft, I'm also working on a number of side projects, which you
				can find below.
				<br />
				If you are interested in my experience and skills, you can find me on
				<a href="https://github.com/NikkelM" target="_blank">GitHub</a>
				and
				<a href="https://www.linkedin.com/in/nikkel-mollenhauer/" target="_blank">LinkedIn</a>, download my
				<a href="https://github.com/NikkelM/resume/releases/latest/download/mollenhauer_resume.pdf" target="_blank">CV</a>, or send me a quick message using the
				<a class="contactLink show pointer">contact form</a>.
			</p>
		</section>

		<hr class="divider" />

		<section>
			<h2>Projects</h2>
			<p>
				Everyone's always working on something, and so am I. All of the projects below and many more can be found on my
				<a href="https://github.com/NikkelM" target="_blank">GitHub</a> profile.
			</p>

			<hr class="divider very-short" />

			<h3>
				<a class="hideAlways" href="https://chromewebstore.google.com/detail/random-youtube-video/kijgnjhogkjodpakfmhgleobifempckf" target="_blank">Random YouTube Video</a>
			</h3>
			<p>
				Random YouTube Video is a browser extension which allows users to truly shuffle from all videos uploaded on a channel - without the need for playlists. The extension adds a 'Shuffle' button to
				channel and video pages, and allows for thorough customization through its popup.
				<br />
				I built this extension using JavaScript, bundled with webpack. In the backend it uses the YouTube Data API to fetch video data, and stores and shares this data using a Firebase Realtime Database.
				User preferences are stored and shared across devices using the built-in chrome storage API's. It's functionality is tested using a thorough test suite implemented using mocha and expect.js, which
				tests a wide range of possible data states using an easily scalable permutation approach.
				<br />
				You can get the extension for
				<a href="https://chromewebstore.google.com/detail/random-youtube-video/kijgnjhogkjodpakfmhgleobifempckf" target="_blank">Chrome</a>,
				<a href="https://microsoftedge.microsoft.com/addons/detail/random-youtube-video/fccfflipicelkilpmgniblpoflkbhdbe" target="_blank">Edge</a>
				and <a href="https://addons.mozilla.org/en-GB/firefox/addon/random-youtube-video/" target="_blank">Firefox</a>. The extension is compatible with all Chromium-based browsers through the Chrome
				Web Store version.
			</p>

			<hr class="divider very-short" />

			<h3>
				<a class="hideAlways" href="https://github.com/NikkelM/Outlook-Mail-Notes" target="_blank">Outlook Mail Notes</a>
			</h3>
			<p>
				Outlook Mail Notes is an Outlook Add-In which allows you to add notes to e-mails, conversations and senders. The Add-In will automatically add a relevant category to the message, so you don't
				loose track of which messages have notes attached. The Add-In is written in TypeScript and uses the OfficeJS API to interact with a user's mailbox. To ensure compatibility with older Outlook
				versions, babel is used to convert syntax to be usable with Internet Explorer. The project is bundled and deployed using webpack and GitHub pages.
				<br />
				You can add the Add-In to your Outlook client using the following manifest URL:
				<a href="https://nikkelm.dev/Outlook-Mail-Notes/manifest.xml" target="_blank" class="hide">https://nikkelm.dev/Outlook-Mail-Notes/manifest.xml</a>.
				<br />
				You can also find more detailed installation instructions on the project's
				<a href="https://github.com/NikkelM/Outlook-Mail-Notes" target="_blank">GitHub page</a>.
			</p>

			<hr class="divider very-short" />

			<h3>Notion integrations</h3>
			<h4>
				<i>
					<a class="hideAlways" href="https://github.com/NikkelM/JSON-to-Notion" target="_blank">JSON to Notion</a>
				</i>
			</h4>
			<p>
				I've also created a number of Notion integrations you can try out for yourself! The one I find most useful is the 'JSON to Notion' integration, which allows you to import JSON files to your
				Notion database. Using a configuration file, you can specify which properties of your JSON file should be imported, and define other transformations as necessary. You can find the project on
				<a href="https://github.com/NikkelM/JSON-to-Notion" target="_blank">GitHub</a>.
			</p>
			<h4>
				<i>
					<a class="hideAlways" href="https://github.com/NikkelM/Notion-Steam-API-Integration" target="_blank">Steam API integration</a>
				</i>
			</h4>
			<p>
				Another Notion integration connects your Notion database to the Steam API. All you need is to add a Steam app ID field to your database, define which app properties you would like to have
				fetched, and the integration will automatically update your database entries. As always, you can find the tool on
				<a href="https://github.com/NikkelM/Notion-Steam-API-Integration" target="_blank">GitHub</a>.
			</p>

			<hr class="divider very-short" />

			<h3>
				<a class="hideAlways" href="/threejs.html">Three.js</a>
			</h3>
			<p>
				Three.js is a JavaScript library that allows for the creation and display of 3D computer graphics in a web browser. In April 2022, I built a very small demo page using the library, which you
				can find linked in the menu or here:
				<a href="/threejs.html">ThreeJS demo</a>.
			</p>
		</section>

		<script src="/src/js/commonTextPages.js"></script>
	</body>
</Layout>
