:root {
	background-color: var(--bg-color);
	color: var(--fg-color);
	position: relative;
	min-height: calc(100vh - 70px);
	color-scheme: dark;
	margin: 20px;
	overflow-y: auto;
}

header {
	text-align: center;
	/* Scale the header fonts up a bit */
	font-size: 34px;
}

body {
	margin: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.3em;
}

section {
	text-align: left;
	font-size: 22px;
	margin: 0px auto;
	width: 80vw;
}

/* On smaller widths, we need to use more of the space available */
@media (max-width: 768px) {
	section {
		width: 90vw;
		font-size: 20px;
	}
	header {
		font-size: 22px;
	}
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 7px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/*
 * Footer
 */
footer {
	width: 100%;
	height: 70px;
}